{% extends "home.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
<div>
    <h2>
        {{ user }}'s Profile
    </h2>
</div>
<div>
    <table class="styled-table">

        <tbody>
            <tr>
                <td class="label"> Username</td>
                <td>{{user}}</td>
                <td onclick="location.href='/username-change'"><a href="/username-change">Change Username</a></td>
            </tr>
            <tr>
                <td class="label">Password</td>
                <td>******</td>
                <td onclick="location.href='/reset-password'"><a href="/reset-password">Reset Password</a></td>
            </tr>
            <tr>
                <td class="label">E-Mail</td>
                <td>{{user_email}}</td>
                <td onclick="location.href='/email-change'"><a href="/email-change">Change E-Mail</a></td>
                <!-- Working on buttons! use HREF maybe?-->
                
            </tr>
            <!-- and so on... -->
        </tbody>
    </table>

</div>

{% endblock %}