{% extends "home.html" %}

{% block title %}
    Change Username
{% endblock %}

{% block main %}


<form action="/reset-password" method="post" enctype="multipart/form-data">
    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="new_pass" name="new_pass" placeholder="Enter new password." type="password">
    <br>

    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation"
         placeholder="Confirm New Password" type="password">
    </div>
    <input class="form-control mx-auto w-auto" type="submit" value="Submit Change">
</form>
{% endblock %}