{% extends "home.html" %}

{% block title %}
    Upload
{% endblock %}

{% block main %}
    Location:
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="location" name="location" placeholder="Example: Mt Hood Meadows Dr" type="text">
    
    <br>
    <br>
    Description:

        <textarea class="form-control mx-auto w-auto" id="desc" name="desc" placeholder="Example: A little road in rural Oregon." maxlength="50"></textarea>
    <br>
    <br>

    <div class="center">   
        <input class="form-control mx-auto w-auto" type="file" name="image" >
        <input class="form-control mx-auto w-auto" type="submit" value="Upload">
        </form>
        <br>
    </div>

{% endblock %}